div{
    width: 200px;
    height: 200px;
    background-color: rgba(227, 253, 110, 0.931);

}
h2{
    background-color: rgb(181, 234, 243);
    width: 250px;
    border: 2px rgb(0, 255, 119) solid;
    border-radius: 3%;
    align-content: center;
}

#one{
    background-color: rgba(136, 241, 136, 0.808);
    /* color: crimson; */
    border-radius: 3%;
}
#two{
    background-color: rgb(246, 253, 146);
    border-radius: 3%;
}
#three{
    background-color: rgb(235, 134, 235);
    border-radius: 3%;
}