body{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
}

button{
    background-color: #48cae4;
    border:1px solid #03045e;
    color: azure;
    padding: 0em 1em;
}